<div class="container">
    <footer>
        <ul class="nav justify-content-center border-bottom py-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/menu/new" class="nav-link px-2 text-muted">Menu</a></li>
            <li class="nav-item"><a href="/reservation/new" class="nav-link px-2 text-muted">Reserve</a></li>
            <li class="nav-item"><a href="/profile" class="nav-link px-2 text-muted">Profile</a></li>
        </ul>
        <p style="text-align: center;">© 2022 Coffee Shop SCE was made possible by
            <a href="https://www.linkedin.com/in/anton-o-voronov/" target="_blank" class="text-black">Anton Voronov</a>
            and <a href="#" class="text-black">Lev Kovler</a>.
        </p>
    </footer>
</div>