<footer class="mt-auto text-white-50">
    <p>© 2022 Coffee Shop SCE was made possible by
        <a href="https://www.linkedin.com/in/anton-o-voronov/" target="_blank" class="text-white">Anton Voronov</a>
        and <a href="#" class="text-white">Lev Kovler</a>.
    </p>
</footer>