<div style="display: block; margin-left: auto; margin-right: auto" class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="/favicon/favicon-16x16.png" class="rounded me-2" alt="...">
    <strong class="me-auto">{{ toastTitle }}</strong>
    <small>{{ toastSubtitle }}</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ toastBody }}
  </div>
</div>